// Place all the styles related to the Articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.article-home {
  padding: 20px;
  margin: 0 auto;
}


.btn-form [type="submit"] {
  padding: 8px 15px;
  background: grey;
  color: white;
  border: none;
  border-radius: 5px;
}

#article_title,
#article_text {
  display: block;
  width: 100%;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

input[type="submit"] {

  border: none;
  background: none;
  color: mediumslateblue;
  cursor: pointer;

  &:hover {
    text-decoration: underline;
    color: slateblue;
  }

}

.panel-danger {
  border-color: #ebccd1;
}

.panel-danger>.panel-heading {
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
}

.panel-heading {
  padding: 10px 15px;
  border-bottom: 1px solid transparent;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}

.panel-body {
  padding: 15px;
}

.article-title {
  font-weight: bold;
  font-size: 1.5em;
}

.article-body {
  padding-top: 15px;
  padding-bottom: 15px;
}

.article-actions {
  border-top: 1px solid #eaeaea;
  padding-top: 8px;
}
